KarConnect_Mobile_App/.gradle
KarConnect_Mobile_App/google-services.json
KarConnect_Mobile_App/node_modules
KarConnect_Mobile_App/platforms
KarConnect_Mobile_App/www
KarConnect_Mobile_App/plugins
WebApp/node_modules
Rpi_Source_Code/node_modules