<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Android  -->
    <meta name="theme-color" content="blue">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Application Title">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Fitscreen  -->
    <meta name="viewport" content="uc-fitscreen=yes" />

    <!-- Layout mode -->
    <meta name="layoutmode" content="fitscreen/standard">

    <!-- imagemode - show image even in text only mode  -->
    <meta name="imagemode" content="force">

    <!-- Orientation  -->
    <meta name="screen-orientation" content="portrait">

    <link rel="manifest" href="/manifest.json">
</head>

<body>
    {{{body}}}
</body>

</html>